*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo{
    height: 50px;
    width: 100px;
    margin-left: 20px;
    
}
.logo{
    
    height: 45px;
    width: 90px;
   
    
    padding-left: 5px;
}

/* start our address design */
.address{
    height: 50px;
    width:120px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center;
  

}
.fh{
    font-size: 12px;
    color: wheat;
    display: flex;
   justify-content: center;
    padding-left: 13px;
}
.Sh{
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 20px;
}
.iconaddress{
   display: flex;
   
   align-items: center;
   gap: 5px;
}
.loctionicon{
   font-size: 19px;
}
.address:hover{
    border: 1.5px solid white;
}
/* start the styling of search bar  */
.searchbar{
    height: 40px;
    width: 610px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    
}
.searchbar:hover{
    border: 2px solid rgb(255, 162, 0);
    border-radius: 8px;
}
.sop{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 40px;
border: none;
    font-size: 1rem;
}
.searchicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    background-color: rgb(255, 166, 2);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.sph{
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    border: none;
}

/* start to styling the signin and order */
.s1{
    font-size: 0.7rem;
}
.idfora{
    text-decoration: none;
    color: lightgray;
    font-size: .75rem;
    margin-left: 5px;
}
.s2{
    font-size: 0.7rem;
}
.signin{
    font-size: 1.2rem;
 
}
.signin:hover{
    border: 1.5px solid white;
}


.order{
    font-size: 1.2rem;
    
}
.order:hover{
    border: 1.5px solid white;
}
/* start to create my last box it is cart options */
.carticon{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 23px;
    margin-right: 20px;

}
.pc{
    font-size: 15px;
}
.carticon:hover{
    border: 1.5px solid white;
}

/* start the styling of the secound part of our header  */
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.headerpanel{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(22, 19, 48);
    color: white;
    
}
/* styling the menu part  */
.all i{
    font-size: 20px;
    gap: 5px;
}
.all{
    font-size: 17px;
    height: 40px;
    width: 60px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    

}
/* start styling the secound panel options  */
.panelop a{
    text-decoration:  none;
    color: white;
    margin-left: 25px;
}
.panelop{
    height: 40px;
    width: 800px;
display: flex;
justify-content: center;
align-items: center;
margin-left: -30px;


}
/* start styling the last option of our header panel  */
.setdeals a{
    text-decoration:  none;
    color: white;
    
}
.setdeals
{
    height: 40px;
    width: 300px;
    display: flex;
align-items: center;
justify-content: center;
    position: absolute;
right: 30px;
font-size: 20px;
font-weight: bold;
}


/* from hear to start to edit our hero section  */
/* set backgrond image  */
.herosection{
    height: 350px;
    background-image: url(/backgrondpic1.png);
    background-size: cover;
    display: flex;
   justify-content: center;
   align-items: flex-end;
   animation: backmotion;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-delay: 3s;

}
@keyframes backmotion 
{
    0%{
        background-image: url(/backgrondpic1.png);
    }
    25%{
        background-image: url(/backgrond3.jpg);
    }
    50%{
        background-image: url(/backgrond4.jpg);
    }
    75%{
        background-image: url(/backgrond5.jpg);
    }
   100% {
        background-image: url(/backgrond2.jpg);
    }
}
/* set the contant  */
.heromsg{
    height: 40px;
    width: 1100px;
    background-color: white;
    display: flex;
    font-size: 0.85rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.heromsg p{
    
    color: black;
}
.heromsg a{
    text-decoration:  none;
    color: rgba(0, 68, 255, 0.945);
    margin-left: 25px;
}
/* so,from now we will make shop section  */
.shopsec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 900px;
    background-color: rgb(207, 203, 194);
    padding: 15px;
    

}
.box{
    margin-top: 15px;
    height: 420px;
    width: 23%;
    background-color: white;
   border-radius: 5px;
}
.box:hover{
    border: rgb(207, 203, 194) solid 1.5px ;
}
.setimag{
    background-image: url(/jum.jfif);
    background-size: cover;
    
    height: 300px;
    border-radius: 4px;
}
.boxcon{
    margin-left: 1rem;
    margin-right: 1rem;
}
.setatag{
    text-decoration: none;
    color: rgba(0, 68, 255, 0.945);
    margin-left: 6px;
}
.setatag:hover{
    color:rgb(13, 0, 255)
}
.seti{
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap ;
   height: 250px;
  
   
}
.img1{
    background-image: url(/186x116---wm._SY116_CB667322346_.jpg);
    height: 100px;
    width: 47%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.img2{
    background-image: url(/186x116---wm._SY116_CB667322346_.jpg);
    height: 100px;
    width: 47%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.img3{
    background-image: url(/186x116---wm._SY116_CB667322346_.jpg);
    height: 100px;
    width: 47%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    
}
.img4{
    background-image: url(/186x116---wm._SY116_CB667322346_.jpg);
    height: 100px;
    width: 47%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.box8 h2{
   font-size: 1.2rem;
   font-weight: bolder;
   padding-bottom: 10px;
}
.setl{
    margin-top: 30px;
}
.setimg2{
    height: 278px;
}

/* so start styling the footer section  */
footer{
    margin-top: 15px;
}
.panel1{
  background-color: rgb(55, 71, 90);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.panel1 a{
    font-size: 0.85rem;
    text-decoration: none;
    text-transform: none;
    color: white;
}

 /* start styling the footer panel 2 */

 .footerpanel2{
    height: 300px;
    background-color: rgb(35, 47, 62);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    border-bottom: 1.2px solid lightgray;
 }
 .footerpanel2 a{
    text-decoration: none;
    color: lightgray;
    display: inline-block;
    margin-bottom: 8px;
    
   
 }
 .footerpanel2 a:hover{
    border-bottom: 1.2px solid lightgray;
 }
 ul{
    margin-top: 30px;
    width: 22%;
    
    
 }
 /* last part of footer section  */
.footerse3{
    height: 130px;
    width: 100%;
    background-color:rgb(35, 47, 62) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flog{
    height: 60px;
    width:100px;
   
}

.logosizef{
    height: 50px;
    width: 90px;
    padding-right: 8px;
    border-right: 1px lightgray solid;

}
.seten{
    display: flex;
    margin-left: 30px;
    border: 1.5px lightgray solid;
    height: 50px;
    width: 110px;
    align-items: center;
    padding: 1.7px 5px 1.7px 5px;
    justify-content: center;

}
.seten i{
    size: 30px;
    color: white;
    padding-right: 10px;
}
.seten p{
    color: white;
    font-size: 1.2rem;
}
/* so last styling the flag box of footer */
.flagbox{
    display: flex;
    margin-left: 20px;
    border: 1.5px lightgray solid;
    height: 50px;
    width: 130px;
    align-items: center;
    padding: 1.7px 5px 1.7px 5px;
    justify-content: center;
}
.flagimg{
    height: 20px;
    width: 80px;
    background-size: cover;
    background-position: center;
    margin-left: 5px;
}
.flagbox p{
    color: white;
    font-size: 1.2rem;
}
